# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/*
config.xml
config-lock.xml
feature
.gitignore
*.iml
out
gen
